* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
}

.header {
    display: flex;
    text-transform: uppercase;
    width: 100%;
    margin: 0 auto;
    background-color: #323232;
}

.header__text {
    background-color: #323232;
    color: #FFFFFF;
    text-align: right;
    flex-grow: 1;
    flex-basis: 445px;
    padding: 16px 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.6;
}

.header__btn {
    background-color: #FF3C00;
    text-transform: uppercase;
    padding: 16px 40px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: 1.3px;
    width: 12%;
    min-width: 217px;
    text-align: left;
}

@media screen and (max-width: 1024.9px) {
    .header {
        display: none;
    }
}

.center-container {
    width: 100%;
    max-width: 1344px;
    margin: 0 auto;
    padding: 0 36px;
}

@media screen and (max-width: 768.9px) {
    .center-container {
        padding: 0 24px;
    }
}

.home {
    background-image: url('../assets/images/home_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home>.center-container {
    padding-top: 230px;
    padding-bottom: 230px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.home__title {
    font-size: 78px;
    font-weight: 900;
    line-height: 1.03;
    text-align: left;
}

.home__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.home__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
}

.home__btn {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.6;
    width: 220px;
    min-height: 65px;
    background-color: #323232;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

@media screen and (max-width: 1024.9px) {
    .home>.center-container {
        padding-top: 94px;
        padding-bottom: 24px;
    }

    .home__title {
        font-size: 58px;
    }
}

@media screen and (max-width: 768.9px) {
    .home__title {
        font-size: 34px;
    }

    .home__text {
        font-size: 19px;
    }

    .home__btn {
        font-size: 19px;
        width: 215px;
    }
}

.home__divider {
    position: relative;
}

.home__more {
    padding: 48px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    border-radius: 15px;
    background-image: url('../assets/images/home_more_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -98px;
    width: calc(100% - 72px);
}

.home__subtitle {
    font-size: 47px;
    font-weight: 900;
    line-height: 1.06;
    color: #FFFFFF;
    width: 100%;
    max-width: 590px;
    text-transform: uppercase;
}

.home__more .home__btn {
    width: 266px;
    min-height: 83px;
    font-size: 22px;
}

@media screen and (max-width: 1440.9px) {
    .home__subtitle {
        font-size: 40px;
    }

    .home__more .home__btn {
        font-size: 20px;
        width: 246px;
    }
}

@media screen and (max-width: 1024.9px) {
    .home__divider {
        height: 197px;
        background-color: #F5F5F5;
    }

    .home__more {
        padding: 48px;
    }

    .home__subtitle {
        font-size: 31px;
    }
}

@media screen and (max-width: 768.9px) {
    .home__divider {
        height: 250px;
    }

    .home__more {
        flex-direction: column;
        align-items: center;
        bottom: -131px;
        width: calc(100% - 48px);
    }

    .home__subtitle {
        text-align: center;
    }
}

@media screen and (max-width: 390.9px) {
    .home__divider {
        height: 273px;
    }

    .home__more {
        bottom: -175px;
    }

    .home__more .home__btn {
        min-height: 112px;
    }
}

.speakers {
    background-color: #F5F5F5;
}

.speakers>.center-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 380px);
    grid-auto-rows: 800px;
    gap: 0 52px;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 180px;
}

.speakers__title-wrapper {
    min-height: 326px;
    background-color: #FFFFFF;
    display: flex;
    align-items: end;
    justify-content: center;
}

.speakers__title {
    font-size: 59px;
    font-weight: 900;
    line-height: 1.03;
    text-align: center;
    color: #212529;
    text-transform: uppercase;
}

.speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speaker:nth-child(3n - 1) {
    align-self: center;
}

.speaker:nth-child(3n) {
    align-self: end;
}

.speaker__img {
    max-width: 380px;
    max-height: 443px;
}

.speaker__title {
    font-size: 31px;
    font-weight: 900;
    line-height: 1.03;
    color: #212529;
    text-transform: uppercase;
    margin: 40px 0 20px;
    text-align: center;
}

.speaker__work {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    color: #212529;
}

.speaker__work--info {
    color: #FF3C00;
}

.speaker__more {
    font-size: 15px;
    font-weight: 800;
    line-height: 1.6;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    margin-top: 47px;
}

@media screen and (max-width: 1440.9px) {
    .speakers>.center-container {
        gap: 62px;
        grid-template-columns: repeat(auto-fit, 342px);
    }

    .speaker__img {
        max-width: 342px;
        max-height: 398px;
    }

    .speaker__title {
        font-size: 24px;
    }

    .speaker__work {
        font-size: 19px;
    }
}

@media screen and (max-width: 1221.9px) {
    .speakers>.center-container {
        grid-auto-rows: 592px;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .speakers__title-wrapper {
        padding-bottom: 50px;
    }

    .speakers__title {
        font-size: 35px;
    }

    .speaker:nth-child(1n) {
        align-self: start;
    }

}

@media screen and (max-width: 390.9px) {
    .speakers__title-wrapper {
        min-height: 350px;
    }
}

.tickets {
    background-color: #FBDB3C;
}

.tickets>.center-container {
    padding-top: 210px;
    padding-bottom: 184px;
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.tickets__logo {
    max-width: 789px;
}

.tickets__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.ticket {
    background-color: #FFFFFF;
    display: flex;
    max-width: 1424px;
    align-items: center;
}

.ticket__price {
    color: #212529;
    font-size: 55px;
    font-weight: 700;
    line-height: 1.65;
    text-align: center;
    width: 100%;
    max-width: 270px;
}

.ticket__divider {
    height: 150px;
    width: 1px;
    background-color: #EAEAEA;
    position: relative;
}

.ticket__divider::before,
.ticket__divider::after {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #EAEAEA;
    position: absolute;
}

.ticket__divider::before {
    left: -4px;
    top: -9px;
}

.ticket__divider::after {
    left: -4px;
    bottom: -9px;
}

.ticket__info {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.ticket__title {
    color: #A6A6A6;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.09;
}

.ticket__text {
    color: #A6A6A6;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.62;
    text-align: left;
}

.ticket__text--date {
    color: #8F73F0;
    margin-top: 23px;
}

.ticket__sold {
    width: 100%;
    max-width: 300px;
    min-height: 220px;
    margin-left: auto;
    background-color: #CCCCCC;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.04;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

@media screen and (max-width: 1024.9px) {
    .tickets>.center-container {
        padding-top: 80px;
        padding-bottom: 128px;
    }

    .tickets__logo {
        max-width: 500px;
    }

    .tickets__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 48px;
    }

    .ticket {
        flex-basis: 342px;
        flex-direction: column;
    }

    .ticket__price {
        font-size: 40px;
        padding: 55px 0 42px;
    }

    .ticket__divider {
        height: 1px;
        width: 278px;
    }

    .ticket__divider::before {
        left: -9px;
        top: -4px;
    }

    .ticket__divider::after {
        left: 278px;
        top: -4px;
    }

    .ticket__info {
        padding: 30px 0 45px;
        align-items: center;
        gap: 5px;
    }

    .ticket__title,
    .ticket__text {
        font-size: 21px;
    }

    .ticket__text--date {
        font-size: 18px;
        margin-top: 22px;
    }

    .ticket__sold {
        font-size: 30px;
        max-width: 342px;
        min-height: 102px;
        margin-left: 0;
    }
}

@media screen and (max-width: 768.9px) {
    .tickets__logo {
        max-width: 366px;
    }
}

.about {
    background-color: #323232;
}

.about>.center-container {
    padding-top: 160px;
    padding-bottom: 176px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about__wrapper {
    display: flex;
    gap: 80px;
    align-items: center;
}

.about__wrapper:nth-child(1) {
    flex-direction: row-reverse;
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 26px;
    color: #FFFFFF;
}

.about__title {
    font-size: 58px;
    font-weight: 900;
    line-height: 1.03;
    margin-bottom: 11px;
    text-transform: uppercase;
}

.about__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.66;
}

.about__img {
    max-width: 596px;
}

@media screen and (max-width: 1440.9px) {
    .about__title {
        font-size: 34px;
    }

    .about__img {
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 1024.9px) {
    .about>.center-container {
        padding-top: 80px;
        padding-bottom: 110px;
        gap: 70px;
    }

    .about__wrapper {
        flex-wrap: wrap;
        gap: 48px;
        justify-content: center;
    }

    .about__img {
        max-width: 100%;
    }
}

.reasons {
    background-color: #EAEAEA;
    padding: 160px 0 80px;
}

.reasons__title {
    font-size: 30px;
    font-weight: 900;
    line-height: 2;
    text-align: center;
    color: #212529;
    text-transform: uppercase;
}

.reason {
    padding: 80px 0;
    display: flex;
    gap: 24px;
}

.reason:nth-child(2) {
    flex-direction: row-reverse;
}

.reason__info {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    display: flex;
    flex-direction: column;
    gap: 29px;
    justify-content: end;
    color: #323232;
    min-height: 404px;
}

.reason:nth-child(1) .reason__info {
    background-image: url('../assets/images/reason-1_bg.svg');
}

.reason:nth-child(2) .reason__info {
    background-image: url('../assets/images/reason-2_bg.svg');
}

.reason:nth-child(3) .reason__info {
    background-image: url('../assets/images/reason-3_bg.svg');
}

.reason__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.04;
    text-transform: uppercase;
}

.reason__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.66;
}

.reason__img {
    max-width: 624px;
    max-height: 375px;
}

@media screen and (max-width: 1280.9px) {
    .reason__info {
        min-height: 375px;
    }

    .reason__title {
        font-size: 31px;
    }
}

@media screen and (max-width: 1024.9px) {
    .reason {
        flex-direction: column;
        padding: 48px 0 80px;
        gap: 21px;
        align-items: center;
    }

    .reason:nth-child(2) {
        flex-direction: column;
    }

    .reason__info {
        max-width: 624px;
        min-height: 310px;
        background-size: auto 200px;
    }

    .reason__title {
        margin-right: 45px;
    }
}

@media screen and (max-width: 768.9px) {
    .reason__img {
        max-width: 100%;
    }
}

@media screen and (max-width: 390.9px) {
    .reasons__title {
        font-size: 18px;
    }

    .reason__info {
        background-size: auto 140px;
        min-height: 345px;
    }

    .reason__title {
        margin-right: 0;
    }
}


/*  */



@media screen and (max-width: 1440.9px) {}

@media screen and (max-width: 1024.9px) {}

@media screen and (max-width: 768.9px) {}

@media screen and (max-width: 390.9px) {}